<body>
    <div class="container-back">
        <form [formGroup]="formLogin">

            <div class="login">
                <div class="tittle-login">
                    <h2>
                        Incia sesión
                    </h2>
                </div>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <input formControlName="email" type="text" placeholder="Username">
                </div>
                <div class="password">
                    <i class="fas fa-lock"></i>
                    <input formControlName="password" [type]="typeText" placeholder="password">
                </div>
                <div class="show-password">
                    <input type="checkbox" (change)="showPasword($event)">
                    <label for="">Mostrar contraseña</label>
                </div>
                <button
                (click)="login()">Login</button>
            </div>
        </form>
    </div>
</body>