.title {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
}
.title h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.title button {
    position: absolute;
    top: 25%;
    right: 20px;
    background-color: black;
    color: white;
    padding: .5rem .9rem;
    border-radius: 10px;
}
.title button:hover{
    color: rgb(216, 212, 212);
}

.btn-delete {
    color: rgb(237, 125, 33);
    transition: color .4s;
}
.btn-delete:hover{
    color: red;
}

.btn-view {
    color: rgb(75, 75, 77);
    transition: color .4s;
}
.btn-view:hover {
    color: rgb(122, 122, 236);
}