<!--
// v0 by Vercel.
// https://v0.dev/t/fq1T8AmwKaM
-->
<div class="title">
    <h3>Todos los cursos</h3>
    <button (click)="openForm()">Agregar</button>
</div>

<div class="bg-white dark:bg-gray-950 rounded-lg shadow-lg overflow-hidden">
    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs font-medium uppercase bg-gray-100 dark:bg-gray-800 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-4">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-4">
                        Descripción
                    </th>
                    <th scope="col" class="px-6 py-4 text-center">
                        Asignatura
                    </th>
                    <th scope="col" class="px-6 py-4 text-center">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-800"
                    *ngFor="let cur of cursos">
                    <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                        {{cur.name}}
                    </td>
                    <td class="px-6 py-4 text-justify">
                        {{cur.decription}}
                    </td>
                    <td class="px-6 py-4 text-center" >
                        {{cur.asignatura.nombre}}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center justify-center gap-5">
                            <button class="btn-delete">
                                <li class="fas fa-trash"></li>
                            </button>
                            <button class="btn-view">
                                <li class="fas fa-eye"></li>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-add-curso [isOpenForm]="isOpenForm"></app-add-curso>