<body>
    <header>
        <app-nav-bar>

        </app-nav-bar>
    </header>

    <div class="header-info">
        <div class="info">

            <h3>Aprende facil</h3>
            <span class="tittle-info">Aprende
                <b>todos los dias</b>
            </span>
            <p>Tu plataforma ideal para aprender y enseñar. Ofrecemos cursos interactivos, materiales educativos y una
                comunidad de aprendizaje para ayudarte a alcanzar tus metas. ¡Descubre, aprende y crece con nosotros!

            </p>

            <span>¿Que quieres aprender?</span>
            <div class="buscador">
                <div class="search">
                    <input list="cursos-list"
                    (input)="getCursosByName($event)">
                    <i class="fas fa-search"></i>
                </div>
                <div class="result-list">
                    <li *ngFor="let result of result_list">
                        <a href=""> {{ result.name }}</a>
                    </li>
                </div>
            </div>

        </div>
        <div class="image">
            <img src="../../../assets/college-student-3500990_1920-removebg-preview-Photoroom.png" alt="">
        </div>

    </div>

    <div class="header-2">
        <div class="image">
            <div class="image-1">
                <img src="../../../assets/pexels-olly-3807755.jpg" alt="">
            </div>
            <div class="image-2">

            </div>
        </div>
        <div class="info-header-2">
            <div class="box">
                <span>
                    ¡Obtenga acceso a un aprendizaje de alta calidad!
                </span>
                <p>
                    <b>¡Únete hoy a nuestro sistema! </b> Descubre una plataforma dinámica y amigable donde ofrecemos
                    una amplia
                    variedad de cursos diseñados para todos los niveles y áreas de interés. Ya sea que desees aprender
                    una
                    nueva habilidad, mejorar tus conocimientos actuales o explorar un nuevo campo, encontrarás cursos
                    interactivos y recursos educativos de alta calidad.
                </p>
                <div class="cursos">
                    <div class="curso-1">
                        <p>Programacion</p>
                        <div class="icons">
                            <i class="fa-brands fa-java"></i>
                            <i class="fa-brands fa-python"></i>
                            <i class="fa-brands fa-js"></i>
                        </div>
                    </div>
                    <div class="curso-2">
                        <p>Matematicas</p>
                        <div class="icons">
                            <i class="fas fa-plus"></i>
                            <i class="fas fa-xmark"></i>
                            <i class="fas fa-percent"></i>
                        </div>
                    </div>
                    <div class="curso-3">
                        <p>Ingles</p>
                        <div class="icons">
                            <i class="fas fa-language"></i>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <span></span><span></span><span></span><span></span>
                    Ver todos nuestros cursos!
                </div>
            </div>


        </div>
    </div>

    <div class="header-3">

        <header>
            <span>
                ¿Que te ofrecemos en nuestra plataforma?
            </span>
        </header>


        <div class="container-header-3">
            <div class="container-img-1">
                <div class="img-top">
                    <img src="../../../assets/pexels-olly-3769021.jpg" alt="">
                </div>
                <div class="img-bottom">
                    <div class="img">
                        <img src="../../../assets/pexels-karolina-grabowska-4491461.jpg" alt="">
                    </div>
                    <div class="text">
                        <span>Educacion moderna</span>
                        <p>"En nuestra plataforma, adoptamos los métodos educativos más innovadores y actualizados,
                            utilizando tecnología avanzada para garantizar una experiencia de aprendizaje efectiva y
                            relevante para el mundo actual."</p>
                    </div>
                </div>
            </div>
            <div class="container-img-2">
                <div class="img-top">
                    <div class="img">
                        <img src="../../../assets/pexels-oloruntoba-john-104292376-15225230.jpg" alt="">
                    </div>
                    <div class="text">
                        <span>Flexibilidad en el aprendizaje</span>
                        <p>"Ofrecemos una gran flexibilidad para que puedas aprender a tu propio ritmo y en tu propio
                            horario, adaptándonos a tus necesidades y estilo de vida. Disfruta de una experiencia
                            educativa que se ajusta a ti, permitiéndote equilibrar tus estudios con otras
                            responsabilidades."</p>
                    </div>
                </div>
                <div class="img-bottom">
                    <img src="../../../assets/pexels-julia-m-cameron-4144923.jpg" alt="">
                </div>
            </div>


        </div>


    </div>

    <div class="contact-us">

        <div class="img">
            <img src="../../../assets/pexels-olia-danilevich-8145363.jpg" alt="">
        </div>
        <div class="form-contact-us">
            <form action="">
                <header>
                    <b>Contactanos</b>
                </header>
                <div class="name">
                    <label for="">Ingrese Su Nombre</label>
                    <input type="text" name="" id="">

                </div>
                <div class="email">
                    <label for="">Ingrese su Apellido</label>
                    <input type="text" name="" id="">
                </div>
                <div class="curso">
                    <label for="">Escriba el curso de su interes</label>
                    <input type="text" name="" id="">
                </div>
                <div class="description">

                    <label for="">Ingrese su Apellido</label>
                    <textarea name="" id=""></textarea>
                </div>

                <div class="button">
                    Enviar
                </div>
            </form>
        </div>

    </div>
    <app-footer></app-footer>
</body>