<div class="questions">
    <ul class="question-1">
        <h3 class="tittle-question">Titulo de la pregunta</h3>
        <li>
            Opcion 1
        </li>
        <li>
            Opcion 2
        </li>
        <li>
            Opcion 3
        </li>
        <li>
            Opcion 4
        </li>
    </ul>
    <ul class="question-2">
        <h3>Titulo de la pregunta</h3>
        <li>
            Opcion 1
        </li>
        <li>
            Opcion 2
        </li>
        <li>
            Opcion 3
        </li>
        <li>
            Opcion 4
        </li>
    </ul>
    <ul class="question-3">
        <h3>Titulo de la pregunta</h3>
        <li>
            Opcion 1
        </li>
        <li>
            Opcion 2
        </li>
        <li>
            Opcion 3
        </li>
        <li>
            Opcion 4
        </li>
    </ul>
</div>