<nav class="nav-bar" 
[ngClass]="{'open': isOpenNabVar}">

    <div class="tittle-nav">
        <h3>
            Aprende-Facil
        </h3>
    </div>
    <div class="item">
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Cursos</a>
            </li>
            <li>
                <a href="">Quienes somos</a>
            </li>
        </ul>
    </div>
    <div class="login-register">
        <button>Acceder</button>
    </div>

    <div class="menu-hamburguers"
    (click)="openNavBar()">
        <li class=" fas fa-bars"></li>
    </div>

</nav>